@import 'tufte.css';
@import 'prismjs/themes/prism-okaidia.css';
@import 'baguetteBox.js/dist/baguetteBox.css';

body {
  overflow-y: scroll;
  width: 90.5%; 
  padding-left: 9.5%; 
  max-width: 1720px; 
}

footer {
  & span {
    background-color: green;
  }
}

.full-image figcaption {
  max-width: 100%;
}

.baguette a {
  background: none;
}

nav a:not(.active) {
  background: none;
}

nav {
  padding-left: 320px;
}
