@import 'tufte.css';
@import 'prismjs/themes/prism-okaidia.css';
@import 'baguetteBox.js/dist/baguetteBox.css';

body {
  overflow-y: scroll
}

footer {
  & span {
    background-color: green;
  }
}

.full-image figcaption {
  max-width: 100%;
}

.baguette a {
  background: none;
}
